body {
  margin: 20px;
  background: #70a2d2;
}

code {
  background: #70a2d2;
}

canvas {
  margin: auto;
  border: 10px solid white;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}